# notes / mockup graphics / ...
VocableDetailBox.graphml
Train vocables dialog mockup.png
VocableDetailBox.png
BigCharacterBoxOptionsDialog.graphml
BigCharacterBoxOptionsDialog.png

# binaries
build/*
dist/run*


# netbeans stuff
nbproject/private

# not used code
src/dictionary/model/ListVocableConverter.java
src/dictionary/model/VocableConverter.java
src/dictionary/model/VocableList.java
src/dictionary/parser/TestStaxVocableReader.java
src/dictionary/parser/TestStaxVocableWriter.java